ion-item {
  --background: #2a4061;
  opacity:1;
}

.list-md {
   background: #2a4061;
}

ion-label a {
  color: #f9f9f9;
  text-transform: uppercase;
  text-decoration: none;
}

ion-icon {
  color: #fff;
}


